body {
  margin: 0;
  width: 300px;
  height: 200px;
  background: #111;
  font-family: Arial, sans-serif;
}

#wrapper {
  padding: 10px;
}

#input {
  width: 100%;
  height: 36px;
  font-size: 16px;
  color: white;
  background: black;
  border: 1px solid #555;
}

#btn {
  margin-top: 10px;
  width: 100%;
  height: 36px;
}

#log {
  margin-top: 10px;
  color: white;
  font-size: 14px;
}
